{% extends "base.html" %}

{% block title %}Sign In - CS3300 Car Site{% endblock %}

{% block content %}


<div class="main">
  <h2>Log In</h2>
  <div class = "fakeimg" style = "height160xpx; background-color: rgba(77, 121, 204, 0.5);">
    <form action="/sign_in" method="post" name="login_form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" >

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" >
      
      <br>
      <h4 type="error" id="usererror_display" style="color:#ff0000"></h4>


      <h4>Forgot Password? <a href="forgot_password.html">Account Recovery</a></h4>
      <h4>Don't have an account? <a href="register.html">Register</a></h4>
    </form>
    <button type="submit" onclick="login()">Submit</button>
  </div>
  
</div>





<script>
function login(){
  <!--Gets Login Information from Text Boxes-->
  var username=document.getElementById("username").value;
  var password=document.getElementById("password").value;

  if(username == ''){
    document.getElementById("usererror_display").innerHTML="Error: Username cannot be empty";
  }
  else if(password == ''){
    document.getElementById("usererror_display").innerHTML="Error: Password cannot be empty";
  }
  else{
    alert("Username:"+username+"Password:"+password);
  }

}
</script>
</body>
</html>

{% endblock %}